body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  padding: 0;
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1 Lucida Grande, 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  outline: none;
}

fieldset,
img {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  height: 1px;
  border: 0;
}

* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.cbafter::after {
  display: block;
  width: 100%;
  height: 1;
  clear: both;
  content: "";
}

/* nprogress */
#nprogress .spinner {
  display: none !important;
}

/* van-icon */
.van-nav-bar .van-icon {
  color: #333;
}

/*修改tab选中的下标的位置*/
.van-tabs__line {
  z-index: 0 !important;
}

/*清除浮动*/
.clearfix::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: ".";
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  min-height: 100%;
}

div {
  font-size: 14px;
}

/* 全局 input */
input {
  font-size: 14px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #ccc
}

input:-moz-placeholder {
  font-size: 14px;
  color: #ccc;
}

input::-moz-placeholder {
  font-size: 14px;
  color: #ccc;
}

input:-ms-input-placeholder {
  font-size: 14px;
  color: #ccc;
}
